* {
    box-sizing: border-box;
}

body {
    color: #eee;
    font-size: 1.125rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
}

.table-wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #dbe4d5;
}

caption,
th,
td {
    padding: 1rem;
}

caption,
th {
    text-align: left;
}

caption {
    background: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th {
    background: whitesmoke;
}

table tr {
    border-bottom: 1px solid white;
}

.category-table td,
.category-table tr {
    background-color: #dbe4d5;
    text-align: left;
}

/* tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.05)
} */

.table-container {
    width: 100%;
    overflow-x: unset;
}

td .table-cells.resp img.edit,
td .table-cells.resp img.del {
    text-align: center;
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    tr {
        display: flex;
        padding: 0 1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
        width: 100%;
    }

    td {
        display: flex;
        padding: 0 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
        min-width: 39%;
    }

    td .table-cells.bold {
        font-weight: 700;
    }

    td:nth-child(2):before {
        font-weight: 700;
        text-transform: capitalize;
    }

    td:first-child {
        display: none;
    }

    td:nth-child(2) {
        padding-top: 2rem;
    }

    td:last-child {
        padding-bottom: 2rem;
    }
}