.admin-h1 {
background-color: white;
background-size: 8,125rem;
background-repeat: no-repeat;
background-position: 43%;
box-shadow: #90A17D;
padding: 0,95rem;
margin-bottom: 3,125rem;
font-size: 1,25rem;
box-shadow: 0 0 1,25rem #ddf1c5;
font-weight: lighter;

}

input:disabled {
    background-color: rgb(161, 161, 161);
}

.save-btn {
    background-color: rgb(114, 114, 59);;
}

.delete-btn {
    background-color: #df7370;
    color: white;
}