* {
  box-sizing: content-box;
  margin: 0;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
}

.productlist-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 150px-re állítottam */
  gap: 4rem;
  justify-items: center;
  text-align: center;
  align-items: center;
  /* margin-left: -12.5px;
  margin-right: -12.5px; */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

/* 1. változat */

/* .single-productBox {
  background-color: white;
  text-align: center;
  width: 15rem;
  height: 22rem;
  padding: 0px;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  justify-self: stretch;
}

.single-productBox-img img {
  width: 100%;
  height: 13.5rem;
}  */

/* 2. változat */

/* .single-productBox {
  background-color: white;
  text-align: center;
  width: 15rem;
  height: 22rem;
  
  padding: 0px;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  justify-self: stretch;
} */


/* 
.single-productBox-img img {
  width: 100%;
  height: 13.5rem;
  
} */


/*--------*/

/* 3. változat */

.single-productBox-img {
  position: relative;
  padding-bottom: 75%;
  height: 18rem;
  /* itt a magasságot lehet változtatni, pl: 18rem */
}

.single-productBox-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.single-productBox-content {
  /* display: grid;
    grid-template-rows: repeat(1, 2fr);
    margin: 0 auto;
    justify-items: flex-start;
    /* position: absolute; */
  width: 100%;
  text-align: start;
  position: relative;
  text-decoration: none;
}

.single-productBox-content .single-productBox-title {
  grid-row-start: auto;
  position: relative;
  margin-bottom: -18px;
  text-decoration: none;
}

.single-productBox-content .product-price {
  text-align: center;
  position: relative;
  margin-bottom: -13px;
  text-decoration: none;
}

/* .single-productBox-content .single-productBox-title:hover {
   text-decoration: underline; 
} */

.single-productBox {
  background-color: #ffffff;
  position: relative;
  width: 100%;
}

.single-productBox .single-productBox-content {
  color: #5f5f5f;
  text-align: center;
}

.single-productBox .single-productBox-title {
  margin-bottom: 0;
}

.single-productBox .single-productBox-title a {
  color: inherit;
}

.single-productBox .single-productBox-overlayIcon:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.single-productBox--type1 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.single-productBox--type1 .single-productBox-image {
  max-height: 177px;
  overflow: hidden;
}

.single-productBox--type1 .single-productBox-overlay {
  position: relative;
}

.single-productBox--type1 .single-productBox-overlayIcon {
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: #fe4578;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 55px;
  height: 55px;
  line-height: 45px;
  font-size: 25px;
  margin-top: -27.5px;
  margin-left: -27.5px;
  border: 5px solid #ffffff;
  color: #ffffff;
  overflow: hidden;
}

.single-productBox-overlayIcon svg path {
  color: white;
}

.single-productBox--type1 .single-productBox-title {
  margin-top: 7.5px;
}

.single-productBox--type1 .single-productBox-content {
  display: block;
  padding: 27px 10px 15px 10px;
}

.single-productBox--type1:hover .single-productBox-content,
.single-productBox--type1:focus .single-productBox-content,
.single-productBox--type1:active .single-productBox-content {
  color: #ffffff;
}

@media (max-width: 1100px ) {
  .productlist-container {
    width: 80%;
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media (max-width: 960px) {
  .productlist-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .single-productBox--type1 .single-productBox-image {
    max-height: none;
  }
/* 
  .productlist-container {
    grid-template-columns: 1fr;
  } */

  
}

@media (max-width: 550px) {
  .productlist-container {
    grid-template-columns: 1fr;
  }
}

.single-productBox--type1.single-productBox--primary:hover,
.single-productBox--type1.single-productBox--primary:focus,
.single-productBox--type1.single-productBox--primary:active {
  background-color: #fe4578;
}

/* .single-productBox--type1.single-productBox--green:hover,
.single-productBox--type1.single-productBox--green:focus,
.single-productBox--type1.single-productBox--green:active {
  background-color: #00c680;
} */

/* .single-productBox--type1.single-productBox--green:hover .single-productBox-overlayIcon,
.single-productBox--type1.single-productBox--green:focus .single-productBox-overlayIcon,
.single-productBox--type1.single-productBox--green:active .single-productBox-overlayIcon {
  background-color: #00c680;
} */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}



.single-productBox--type1 .single-productBox-overlayIcon {
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: #fe4578;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 55px;
  height: 55px;
  line-height: 45px;
  font-size: 25px;
  margin-top: -27.5px;
  margin-left: -27.5px;
  border: 5px solid #ffffff;
  color: #ffffff;
  overflow: hidden;
}

/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200") */

.pagination-buttons>* {
  text-align: center;
  box-sizing: border-box;
  background: none;
  padding: 1em;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: medium;
  position: relative;
  width: auto;
  background-color: var(--transparent-grey);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.pagination-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* .pagination-buttons:first-child {
margin-left: 14px;
}

.pagination-buttons:last-child {
margin-right: 14px;
} */

.disabled {
  color: rgb(190, 190, 190);
}

.top-bar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 0.5rem;
}

.select-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.select-option select {
  padding: 6px 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
}
